{{ "<!-- blog single -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            {{ "<!-- sidebar -->" | safeHTML }}
            <aside class="col-lg-4 order-lg-1 order-2">
                {{ "<!-- Categories -->" | safeHTML }}
                <div class="rounded border py-3 px-4 mb-50">
                    <i class="d-inline-block mr-1 text-dark ti-files" style="font-size: 20px;"></i>
                    <h4 class="mb-1 d-inline-block"> Category</h4>
						<ul class="pa0">
						  {{ range .Params.categories }}
						   <li class="list">
						     <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
						       {{- . -}}
						     </a>
						   </li>
						  {{ end }}
						</ul>

                </div>
                {{ "<!-- Opening Hours -->" | safeHTML }}
                <div class="mb-50">
                    <h5 class="mb-20">Tags</h5>
				      {{- partial "tags.html" . -}}
                </div>
            </aside>        
        
        
            <div class="col-lg-8 mx-auto">
                <div class="border rounded bg-white">
<!--                    <img class="img-fluid w-100 rounded-top" src="{{ .Params.image | absURL }}" alt="blog-image"> -->
                    <div class="p-4">
<!--                        <h3>{{ .Title }}</h3>   -->
                        <ul class="list-inline d-block pb-4 border-bottom mb-3">
                            <li class="list-inline-item text-color">Posted By {{ .Params.Author }}</li>
<!--                            <li class="list-inline-item text-color">On {{ .PublishDate.Format "02 Jan" }}</li>  -->
                            <li class="list-inline-item text-color">Tag: {{ .Params.Tags }}</li>
                        </ul>               
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
                <div class="py-4 border-bottom mb-100">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            {{ "<!-- share-icon -->" | safeHTML }}
                            <div class="d-flex">
                                <span class="font-weight-light mt-2 mr-3">Share:</span>
                                <ul class="list-inline d-inline-block">
                                    {{ range .Site.Params.sharePost }}
                                    <li class="list-inline-item">
                                        <a class="share-icon bg-secondary" href="{{ .URL | absURL }}">
                                            <i class="{{ .icon }}"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        {{ "<!-- tags -->" | safeHTML }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /blog-single -->" | safeHTML }}