{{ if .Site.Data.about.whatismarketing.enable }}
{{ "<!-- whatismarketing -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
               {{ with .Site.Data.about.whatismarketing.titleSM }} <h5 class="section-title-sm">{{ . }}</h5> {{ end }}
               {{ with .Site.Data.about.whatismarketing.title }} <h2 class="section-title section-title-border-half">{{ . }}</h2> {{ end }}
               {{ with .Site.Data.about.whatismarketing.content }} <p>{{ . | safeHTML }}</p> {{ end }}
               {{ if .Site.Data.about.whatismarketing.btn.enable }} <a href="{{ .Site.Data.about.whatismarketing.btn.btnURL | absURL }}" class="btn btn-primary">{{ with .Site.Data.about.whatismarketing.btn.btnText }} {{ . }} {{ end }}</a> {{ end }}
            </div>
            {{ "<!-- philosophy image -->" | safeHTML }}
            <div class="col-lg-5 align-self-center mb-md-50">
                <img class="img-fluid w-100" src="{{ .Site.Data.about.whatismarketing.image | absURL }}" alt="philosophy-image">
            </div>
        </div>
    </div>
</section>
{{ "<!-- /whatismarketing -->" | safeHTML }}
{{ end }}